<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chen_enen130app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Activity_Lesson"></activity>
        <activity
            android:name=".Activity_Main"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_ChemGames" />
        <activity android:name=".QuizIntroduction" />
        <activity android:name=".Activity_PhaseGamesSelection" />
        <activity android:name=".Activity_CourseOutline" />
        <activity android:name=".Activity_RaoultsLawCalculator" />
        <activity android:name=".Activity_CourseMaterial" />
        <activity android:name=".Quiz" />
    </application>

</manifest>